.footer-wrap {
    font-size: 12px;
    color: #000;
    padding: 40px 12%;
    /* color: #fff; */
}
/* 
.footer-sec {
    background-color: #1e1919d1;
} */

@media screen and (max-width:1024px){
    .footer-wrap {
        padding: 40px 10px;
        margin: 0 40px;
    }
}