.img-side img {
    height: 545px;
    width: 856px;
}

.img-side {
    position: relative;
}

.text-img-side {
    position: absolute;
    top: 17%;
    left: 46%;
}

h5.quality-heading {
    font-size: 22px;
    color: black;
}

h2.const-business {
    font-size: 42px;
    color: black;
    margin: 20px 0 30px 0;
    line-height: 1.2;
}

.text-img-side a {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #81d658ed;
    background-color: #81d658ed;
    color: #fff;
    margin-right: 8px;
    font-weight: 700;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.text-img-side a:hover {
    background-color: rgba(0, 0, 0, 0.596);
    border: 1px solid rgba(0, 0, 0, 0.596);
}

.wrap-l-r {
    display: flex;
    background-color: #f1f0f0;
    width: 100%;
    padding-top: 83px;
    justify-content: center;
}

.wrap-left {
    width: 56%;
}

.wrap-right {
    width: 43%;
    /* background-color: rgba(248, 248, 255, 0.523); */
}

.slide-one img , .slide-two img{
    width: 678px;
    margin: 0 auto;
    display: flex;
    /* padding: 0 0 50px 0; */
    height: 545px;
}


@media screen and (max-width:1024px){
    .wrap-right{
        display: none;
    }

    .img-side img {
        height: 320px;
        width: 100%;
    }

    h2.const-business {
        font-size: 38px;
    }

    .card-wrap {
        display: flex;
        align-items: center;
        gap: 26px;
        padding: 25px 0;
        justify-content: space-between;
        margin: 0 auto;
    }

    .wrap-l-r {
        padding-top: 57px;
    }

    .wrap-left{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    h2.const-business {
        font-size: 28px;
    }

    .text-img-side a {
        padding: 6px 15px;
        font-size: 16px;
    }

    .text-img-side {
        left: 54%;
    }
}

@media screen and (max-width:426px){
    .img-side img {
        filter: opacity(50%);
    }

    .text-img-side {
        left: 44%;
    }

    h2.const-business {
        font-size: 19px;
    }

    h5.quality-heading {
        font-size: 16px;
    }

    .text-img-side a {
        padding: 6px 15px;
        font-size: 11px;
    }
}